<form method="POST"> 
  Name:<br> 
  <input type="text" name="name" id="prod_name"> 
  <br> 
  Description:<br> 
  <input type="text" name="description" id="prod_desc"> 
  <br>
  Price:<br> 
  <input type="number" name="price" id="prod_price"> 
  <br><br> 
  <button type="submit" href="/">Agregar</button>
</form> 