<h2>Nombre: </h2>
<br>
<label name="name">{{product.name}}</label>

<h2>Descripción: </h2>
<br>
<label name="description">{{product.description}}</label>

<h2>Precio: </h2>
<br>
<label name="price">{{product.price}}</label>
<br>
<a href="/">Regresar</a>

<form method="POST"><button type="submit">Eliminar Producto</button></form>